<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <title>Лабораторная работа №3</title>
    <link th:rel="stylesheet" th:href="style.css">
</head>
<body>
<h1>Form matrix</h1>
<form action="#" th:action="@{/index}" th:object="${FormMath}" method="post">
    <p>val1: <input type="text" id="numberChar" th:field="*{val1}"/></p>
    <p>val2: <input type="text" id="numberChar2" th:field="*{val2}"/></p>
    <select name="Operation" th:field="*{operation}">
        <option th:each="colorOpt : ${T(com.example.Client.dto.enums.Operation).values()}"
                th:value="${colorOpt}" th:text="${colorOpt.toString()}"></option>
    </select>
    <p><input type="submit" value="Submit" onclick="checkInputData()"/> <input type="reset" value="Reset"/></p>
</form>
<a href="/start">Обратно</a>
<script th:inline="javascript">
    function checkInputData() {
        const input = document.getElementById("numberChar");
        const num = input.value;
        const input2 = document.getElementById("numberChar2");
        const num2 = input2.value;
        const re1 = new RegExp("^[+-]?([0-9]+([.][0-9]*)?|[.][0-9]+)$");
        if (!(re1.test(num))) {
            input.setCustomValidity("Введите число1");
        } else if (!(re1.test(num2))) {
            input2.setCustomValidity("Введите число2");
        } else{
            input.setCustomValidity('');
            input2.setCustomValidity('');
        }
    }
</script>
</body>
</html>